<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}eMotion - Le site de Location écologique de Voiture et Scooter{% endblock %}</title>
        {% block stylesheets %}
            <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name=“description” content=“Du text du text et du text et encore tu text ?.“>
            <meta property=“og:title” content=“eMotion”>
            <meta property=“og:type” content=“website”>
            <meta property=“og:url” content=“http://emotion.com“>

            <link rel="icon" type="image/x-icon" href="{{ asset('framework/images/favicon.ico') }}" />

            <link rel="stylesheet" href="{{ asset('framework/css/styles.css') }}" type="text/css" media="all"/>

            <script type="text/javascript" href="{{ asset('framework/js/jquery.js') }}"></script>

            <script type="text/javascript"  href="{{ asset('framework/js/scroll.js') }}"></script>
            <script type="text/javascript"  href="{{ asset('framework/js/nav_menu.js') }}"></script>
            <script type="text/javascript"  href="{{ asset('framework/js/animation.js') }}"></script>

    		<script type="text/javascript"  href="{{ asset('framework/js/app.js') }}"></script>

        {% endblock %}

    </head>
    <body>
        {% block body %}
            <div id="nav">
                <header class="header container">
                    <div class="logo"></div>
                    <nav class="top-nav">
                        <ul>
                            <li><a href="{{ path('home') }}" class="btn-border">Accueil</a></li>
                            <li><a href="{{ path('about_us') }}" class="btn-border">Présentation</a></li>
                            <li><a href="{{ path('Vehicules') }}" class="btn-border">Véhicules</a></li>
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <li><a href="{{ path('fos_user_profile_show') }}" class="btn-border">Mon compte</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}" class="btn-log">Déconnexion</a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}" class="btn-log">Connexion</a></li>
                            {%endif%}
                        </ul>
                    </nav>
                </header>
            </div>
            <div id="container-menu">
    				<div id="toto" class="navToggle" onClick="appendClass()">
    					<div class="icon"></div>
    				</div>
    				<div id="back-menu">
    					<div id="menu">
    						<ul>
                                <li><a href="{{ path('home') }}" class="btn-border">Accueil</a></li>
                                <li><a href="{{ path('about_us') }}" class="btn-border">Présentation</a></li>
                                <li><a href="{{ path('Vehicules') }}" class="btn-border">Véhicules</a></li>
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <li><a href="{{ path('fos_user_profile_show') }}" class="btn-border">Mon compte</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}" class="btn-log">Déconnexion</a></li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}" class="btn-log">Connexion</a></li>
                                {%endif%}
    						</ul>
    					</div>
    				</div>
    		</div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
        {% block footer %}
            <footer id="footer_index">
            <div id="rubriques">
                <div class="navigation">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="mes_locations.html">Réservations</a></li>
                        <li><a href="about_us.html">About Us</a></li>
                        <li><a href="cars.html">Véhicules</a></li>
                        <li>Plan du Site</li>
                        <li>CGV</li>
                    </ul>
                </div>
                <div id="share">
                    <h3>Social</h3>
                    <div id="res_soc">
                        <a href="" class="footericon" target="_blank ">
                            <img src="{{ asset('framework/images/icons/twitter_e.svg') }}" alt="">
                        </a>
                        <a href="" class="footericon" target="_blank ">
                            <img src="{{ asset('framework/images/icons/facebook_e.svg') }}" alt="">
                        </a>
                        <a href="" class="footericon" target="_blank ">
                            <img src="{{ asset('framework/images/icons/linkedin_e.svg') }}" alt="">
                        </a>
                    </div>
                </div>
                <div id="nouscont_faq_cont">
                    <h3>FAQ</h3>
                    <h3>Nous contacter</h3>
                    <ul>
                        <li><a href="mailto:contact@emotion.com?Subject=Tapez votre sujet">contact@emotion.com</a></li>
                        <li>+33(0)1 23 45 67 89</li>
                        <li>77 rue de l'adresse</li>
                        <li>75000 AdressVille</li>
                    </ul>
                </div>
            </div>
            <div class="text-footer">
                <div> &copy; 2017 eMotion GROUPE 5</div>
                <div id="terms-privacy">
                    <div><a href="" class="text-invert" target="_blank ">Terms of Service</a></div>
                    <div> <a href="" class="text-invert" target="_blank ">Privacy Policy</a> </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </footer>
</html>
