{%  extends '::base.html.twig' %}
{% block title %}{{ parent() }}
{% endblock %}

{% block stylesheets %}{{ parent() }}
{% endblock %}

{% block body %}{{ parent() }}

    <div class="main">
        <div class="landings">
            <section class="header">
                <div class="wrapper">
                    <img src="{{ asset('framework/images/image_cl__.png') }}" alt="BLIBLABLU" class="image">
                </div>
            </section>

            <section class="formulaire section_3">
                <div class="wrapper">
                    <h3>Votre trajet :</h3>
                    <div class="formulaires">
                        <article class="main-content">
                            <form method="POST">
                                <div class="form-group">
                                    <!-- <label>Ville de départ</label> -->
                                    <input id="ville_depart" name="ville_depart" placeholder="Ville de départ" class="input-control" />
                                </div>
                                <div class="form-group">
                                    <!-- <label>City,State,Zip</label> -->
                                    <input id="date_dispo" name="date_dispo" class="input-control" placeholder="Start Date"/>
                                    <input id="date_fin_dispo" name="date_fin_dispo" class="input-control" placeholder="End Date" />
                                    <input id="nb_kilometres" name="nb_kilometres" class="input-control" placeholder="Km"/>
                                </div>
                                <input type="submit" value="Réserver">
                            </form>
                            <!-- <div class="form-group">
                                <label>&nbsp;</label>
                                <button>Save</button>
                                <button>Cancel</button>
                            </div> -->
                        </article>

                    </div>
                    <div class="voit_scoot">
                        <h3>Le véhicule que vous souhaitez :</h3>
                        <ul>
                            <li class="dropdown" class="voitures">
                                <a href="javascript:void(0)" class="dropbtn"><img src="{{ asset('framework/images/voiture-accueil.png') }}" alt="BLIBLABLU" class="image">
                                    <div class="overlay">
                                        <!-- <div class="text">Voitures</div> -->
                                    </div></a>
                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </li>
                            <li class="dropdown" class="scooters">
                                <a href="javascript:void(0)" class="dropbtn"><img src="{{ asset('framework/images/scooter-accueil.png') }}" alt="BLIBLABLU" class="image">
                                    <div class="overlay">
                                        <!-- <div class="text">Scooters</div> -->
                                    </div></a>
                                <div class="dropdown-content">
                                    <a href="#">Link 4</a>
                                    <a href="#">Link 5</a>
                                    <a href="#">Link 6</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- <button type="submit">Submit</button> -->
                </div>
            </section>

            <section class="rubriques_services section_4">
                <div class="wrapper">
                    <div class="footer_description ">
                        <a href="about_us.html">
                            <div class="img_section_7"><img src="{{ asset('framework/images/icons/arg_satis.svg') }}" alt="Icon Measure Your Campaigns"></div>
                            <h3 class="">Des clients satisfaits</h3>
                            <p class="description">98% de retours positifs.</p>
                        </a>
                    </div>
                    <div class="footer_description ">
                        <a href="about_us.html">
                            <div class="img_section_7"><img src="{{ asset('framework/images/icons/arg_eco.svg') }}" alt="Icon Follow Your Competition"></div>
                            <h3 class="">Une planète préservée</h3>
                            <p class="description">Déjà 20 tonnes de carbonnes épargné.</p>
                        </a>
                    </div>
                    <div class="footer_description">
                        <a href="about_us.html">
                            <div class="img_section_7"><img src="{{ asset('framework/images/icons/arg_couv.svg') }}" alt="Icon Scout For New Talent"></div>
                            <h3 class="">Une couverture nationale</h3>
                            <p class="description">eMtion est présent dans toute la France.</p>
                        </a>
                    </div>
                </div>
            </section>
        </div>


    </div>
{% endblock %}

{% block javascripts %}{{ parent() }}
{% endblock %}

{% block footer %}{{ parent() }}
{% endblock %}