{%  extends '::base.html.twig' %}
{% block title %}{{ parent() }}
{% endblock %}

{% block stylesheets %}{{ parent() }}
{% endblock %}

{% block body %}{{ parent() }}

    <div class="container"><br><br><br><br>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="panel panel-primary" style="margin:20px;">
            <div class="panel-heading">
                <h3 class="panel-title">Ajouter un Vehicule</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="marque">Marque du Vehicule : <span class="red">(*)</span></label>
                            {{ form_errors(form.marque) }}
                            {{ form_widget(form.marque, {'attr': {'class': 'form-control input-sm','placeholder': 'Marque du Vehicule'}}) }}
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="model">Modèle du Vehicule : <span class="red">(*)</span></label>
                            {{ form_errors(form.model) }}
                            {{ form_widget(form.model, {'attr': {'class': 'form-control input-sm','placeholder': 'Modéle du Veicule'}}) }}
                        </div>
                    <div class="col-md-12 col-sm-12" id="deceased">
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="num_serie">Numéros de Série : <span class="red">(*)</span></label>
                            {{ form_errors(form.num_serie) }}
                            {{ form_widget(form.num_serie, {'attr': {'class': 'form-control','placeholder': 'Numéros de Série'}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="couleur">Couleur du Vehicule : <span class="red">(*)</span></label>
                            {{ form_errors(form.couleur) }}
                            {{ form_widget(form.couleur, {'attr': {'class': 'form-control','placeholder': 'Couleur du Veicule'}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="villedepart">Ville de Location : <span class="red">(*)</span></label>
                            {{ form_errors(form.villedepart) }}
                            {{ form_widget(form.villedepart, {'attr': {'class': 'form-control','placeholder': 'Ville de Location'}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="image">Images : <span class="red">(*)</span></label>
                            {{ form_errors(form.image) }}
                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="immatriculation">Immatriculation du Véhicule : <span class="red">(*)</span></label>
                            {{ form_errors(form.immatriculation) }}
                            {{ form_widget(form.immatriculation, {'attr': {'class': 'form-control','placeholder': 'Immatriculation du Véhicule'}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="nbkilometres">Nombres de Kilomètres : <span class="red">(*)</span></label>
                            {{ form_errors(form.nbkilometres) }}
                            {{ form_widget(form.nbkilometres, {'attr': {'class': 'form-control','placeholder': 'Nombres de Kilomètres'}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="prix_achat">Prix d'Achat : <span class="red">(*)</span></label>
                            {{ form_errors(form.prix_achat) }}
                            {{ form_widget(form.prix_achat, {'attr': {'class': 'form-control','placeholder': 'Prix d\'Achat '}}) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            <label for="dateachat">Date d'Achat : <span class="red">(*)</span></label>
                            {{ form_errors(form.dateachat) }}
                            {{ form_widget(form.dateachat, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12" id="addblock">
                        <div class="form-group col-md-3 col-sm-3">
                            <input type='button' class="btn btn-primary" value="Add" id="add"/>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12" >
                        <div class="form-group col-md-3 col-sm-3 pull-right">
                            <input type='text' class="form-control input-sm" id="amount" readonly placeholder="Total Amount"/>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group col-md-3 col-sm-3 pull-right" >
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}{{ parent() }}
{% endblock %}

{% block footer %}{{ parent() }}
{% endblock %}
