{%  extends '::base.html.twig' %}
{% block title %}{{ parent() }}
{% endblock %}

{% block stylesheets %}{{ parent() }}
{% endblock %}

{% block body %}{{ parent() }}

    <body style="background-color: #36b1ac;">



        <div class="log">

            <article class="main-content">

                <h4>Connexion à votre compte !</h4>

                <div class="form-group">
                    <div class="btn_mid">
                        <button class="btn_l_s"> <a href="log.html">Se connecter</a> </button>
                        <button class="btn_l_s"> <a href="sig.html">S'inscrire</a> </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>E-mail :</label>
                    <input type="email"  value="" class="input-control" />
                </div>

                <div class="form-group">
                    <label>Mot de passe :</label>
                    <input type="password"  value="" class="input-control" />
                </div>

                <div class="form-group">
                    <div class="btn_mid"><button class="btn_w"> <a href="">Se connecter</a> </button></div>
                </div>

            </article>


        </div>

    </body>

{% endblock %}

{% block javascripts %}{{ parent() }}
{% endblock %}

{% block footer %}{{ parent() }}
{% endblock %}
